<div class="container">
  <h1>Acessible component</h1>

  <p>Welcome to the modal testing page</p>
  <button class="button button-primary" type="button">Show modal</button>

  <div class="form-field">
    <label for="firstName">First name</label>
    <input type="text" id="firstName" />
  </div>

  <div class="form-field">
    <label for="surname">Surname</label>
    <input type="text" id="surname" />
  </div>

  <div class="form-field">
    <label for="age">Age</label>
    <input type="text" id="age" />
  </div>

  <div class="button-group">
    <button class="button button-primary" type="button">Submit</button>
    <button class="button button-secondary" type="button">Cancel</button>
  </div>
</div>
